*{
    margin: 0;
    padding: 0;
}


.container-titulo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    left: 30%;
}
.container-titulo h1{
    font-family: "Inter";
    font-size: 2em;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    padding: 10px;
    color: #0a3871;
}
.container{
    position:absolute;
    width: 100vw;
    height: 77vw;
    background: #f3f5fc;
}
.texto {
    position: absolute;
    width: 50%;
    height: 70%;
    left: 5%;
    top: 5%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 150%;
    background-color: #f3f5fc;
    color: #0a3871;
}
.texto::placeholder{
       color:#0a3871;
}
.texto:focus,
.texto:active{
    border: none;
    outline: none;
}
.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 50%;
    left: 5%;
    top: 80%;
}
.terminos p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 150%;
    color: #496058;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 60%;
    left: 10%;
    top: 85%;
    gap: 30px;
}
.btn-encriptar{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 2%;
    gap: 10px;
    width: 30%;
    background-color: #0a3871;
    border-radius: 20px;
    font-family: "Inter";
    font-size: 1.3em;
    line-height: 19px;
    text-align: center;
    color: #fff;
}
.btn-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 10%;
    width: 30%;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 20px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 1.3em;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
}
.btn-encriptar:hover, .btn-desencriptar:hover{
    margin: 0.5%;
    width: 30%;
    padding: 2%;
}
.imagenes {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 35%;
    height: 85%;
    left: 60%;
    top: 5%;
    background: #fff;
    box-shadow: 0px 24px 32px 8px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
}
.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 75%;
    text-align: center;
}
.mensaje-encriptado h2{
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 2em;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}
.mensaje-encriptado p{
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 150%;
    text-align: center;
    color: #495057;
}
.imagenes img{
    position: absolute;
    width: 80%;
    height: 60%;
    top: 10%;
}
.container-pie{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-pie h2{
    font-family: "Inter";
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 10px;
    color: #0a3871;
}
/*Diseño responsivo*/
@media(max-width:57.5em){
    .container{
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 100vw;
        height: 100vw;
    }
    .mensaje{
        width: 50%;
    }
    .texto{
        width: 80%;
        height: 80%;
        left: 10%;
        top: 5%;
    }
    .terminos{
        width: 80%;
        left: 10%;
        top: 90%;
    }
    .terminos p{
        font-size: 16px;
    }
    .botones{
        width:80% ;
        left: 10%;
        top: 100%;
    }
    .btn-encriptar{
        width: 48%;
        border-radius: 16px;
    }
    .btn-desencriptar{
        width: 48%;
        border-radius: 16px;
    }
    .btn-encriptar:hover,.btn-desencriptar:hover {
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .imagenes{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 120%;
    }
    .mensaje-encriptado{
        width: 100%;
        top: 5%;
    }
    .imagenes img{
        top: 0;
        display: none;
        visibility: hidden;
    }
    .container-pie{
        top: 15%;
    }
    .footer{
        padding: 5px;
      
    }
}